<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= require('html-loader!../partials/head.html') %>
  </head>
  <body class="Homepage">
    <main>
      <form id="form" class="Form grid-container full" aria-label="Sign Up" data-parsley-errors-messages-disabled>
        <div class="grid-x grid-padding-x">
          <div class="cell large-12">
            <h1>Sign up for email updates</h1>
            <p>*Indicates Required Field</p>
            <div class="Form-errors form-errors js-form-errors visually-hidden">
              <p>No errors</p>
            </div>
          </div>
        </div>
        <fieldset class="grid-x grid-padding-x">
          <legend class="visually-hidden">Sign up for email updates</legend>
          <div class="Form-field cell samll-12 medium-6 large-6">
            <label for="FirstName">First Name*</label>
            <input id="FirstName" type="text" aria-labelledby="FirstName" name="First Name" autocomplete="name" tabindex="0" data-parsley-trigger-after-failure="change" required aria-required>
          </div>
          <div class="Form-field cell samll-12 medium-6 large-6">
            <label for="LastName">Last Name*</label>
            <input id="LastName" type="text" aria-labelledby="LastName" name="Last Name" autocomplete="given-name" tabindex="1" data-parsley-trigger-after-failure="focusout" required aria-required>
          </div>
          <div class="Form-field cell samll-12 medium-6 large-6">
            <label for="EmailAddress">Email Address*</label>
            <input id="EmailAddress" type="email" aria-labelledby="EmailAddress" name="Email Address" autocomplete="email" tabindex="2" data-parsley-trigger-after-failure="focusout" required aria-required>
          </div>
          <div class="Form-field cell samll-12 medium-6 large-6">
            <label for="Organization">Organization</label>
            <input id="Organization" disabled type="text" aria-labelledby="Organization" name="Organization" placeholder="" autocomplete="organization" tabindex="3">
          </div>
          <div class="Form-field cell large-12">
            <label for="EUResident">EU Resident*</label>
            <select id="EUResident" aria-labelledby="EUResident" name="EU Resident" tabindex="4" required aria-required>
              <option value="">- Select One -</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
          <div class="Form-field Form-field-checkbox cell samll-12 medium-6 large-6">
            <label for="Advances">
              <input id="Advances" type="checkbox" aria-labelledby="Advances" name="Preferences" tabindex="5" value="Advances" required aria-required data-parsley-multiple="preferences" data-parsley-mincheck="1">
              <span>Advances</span>
            </label>
          </div>
          <div class="Form-field Form-field-checkbox cell samll-12 medium-6 large-6">
            <label for="Alerts">
              <input id="Alerts" type="checkbox" aria-labelledby="Alerts" name="Preferences" tabindex="6" value="Alerts" data-parsley-multiple="preferences">
              <span>Alerts</span>
            </label>
          </div>
          <div class="Form-field Form-field-checkbox cell samll-12 medium-6 large-6">
            <label for="OtherCommunications">
              <input id="OtherCommunications" type="checkbox" aria-labelledby="OtherCommunications" name="Preferences" tabindex="7" value="Other Communications" data-parsley-multiple="preferences">
              <span>Other Communications</span>
            </label>
          </div>
        </fieldset>
        <div class="grid-x grid-padding-x">
          <div class="Form-buttons cell large-12">
            <button type="submit" aria-label="Submit" tabindex="8">Submit</button>
            <button class="--clear" type="reset" aria-label="Reset" tabindex="9">Reset</button>
          </div>
        </div>
        <div class="Form-response --success js-form-response visually-hidden">
          <p class="js-message"></p>
        </div>
      </form>
    </main>
  </body>
</html>