<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= require('html-loader!../partials/head.html') %>
  </head>
  <body class="Homepage">
    <main>
      <form id="form" class="Form grid-container full" data-parsley-errors-messages-disabled>
        <div class="grid-x grid-padding-x">
          <div class="cell large-12">
            <h1><legend>Sign up for email updates</legend></h1>
            <p>*Indicates Required Field</p>
            <div class="Form-errors form-errors js-form-errors visually-hidden">
              <p>No errors</p>
            </div>
          </div>
        </div>
        <fieldset class="grid-x grid-padding-x">
          <div class="Form-field cell samll-12 medium-6 large-6">
            <label for="First Name">First Name*</label>
            <input type="text" name="First Name" placeholder="John" autocomplete="name" data-parsley-trigger-after-failure="change" required>
          </div>
          <div class="Form-field cell samll-12 medium-6 large-6">
            <label for="Last Name">Last Name*</label>
            <input type="text" name="Last Name" placeholder="Doe" autocomplete="given-name" data-parsley-trigger-after-failure="focusout" required>
          </div>
          <div class="Form-field cell samll-12 medium-6 large-6">
            <label for="Email Address">Email Address*</label>
            <input type="email" name="Email Address" placeholder="john.doe@gmail.com" autocomplete="email" data-parsley-trigger-after-failure="focusout" required>
          </div>
          <div class="Form-field cell samll-12 medium-6 large-6">
            <label for="Organization">Organization</label>
            <input type="text" name="Organization" placeholder="" autocomplete="organization">
          </div>
          <div class="Form-field cell large-12">
            <label for="EU Resident">EU Resident*</label>
            <select name="EU Resident" id="" required>
              <option value="">- Select One -</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
          <div class="Form-field Form-field-checkbox cell samll-12 medium-6 large-6">
            <label for="advances">
              <input id="advances" type="checkbox" name="Preferences[]" required data-parsley-multiple="preferences" data-parsley-mincheck="1">
              <span>Advances</span>
            </label>
          </div>
          <div class="Form-field Form-field-checkbox cell samll-12 medium-6 large-6">
            <label for="alerts">
              <input id="alerts" type="checkbox" name="Preferences[]" data-parsley-multiple="preferences">
              <span>Alerts</span>
            </label>
          </div>
          <div class="Form-field Form-field-checkbox cell samll-12 medium-6 large-6">
            <label for="other-communications">
              <input id="other-communications" type="checkbox" name="Preferences[]" data-parsley-multiple="preferences">
              <span>Other Communications</span>
            </label>
          </div>
        </fieldset>
        <div class="grid-x grid-padding-x">
          <div class="Form-buttons cell large-12">
            <button type="submit" class="validate">Submit</button>
            <button class="--clear" type="reset">Reset</button>
          </div>
        </div>
      </form>
    </main>
    <%= require('html-loader!../partials/footer.html') %>
  </body>
</html>