.Form {
  position: relative;

  h1 {
    font-weight: 700;
  }

  p {
    color: $text-primary;
  }

  &-field {
    margin-bottom: rem-calc(38);

    label {
      display: block;
      width: 100%;
      margin-bottom: rem-calc(16);
      color: $text-primary;
    }

    input:not([type="select"]):not([type="checkbox"]) {
      width: 100%;
    }

    select {
      width: 100%;
      
      @include breakpoint(medium) {
        width: auto;
      }
    }
  }
  
  &-field-checkbox {
    label {
      margin-bottom: 0;
      cursor: pointer;
    }
  }

  &-buttons {
    margin-top: rem-calc(32);
      
    @include breakpoint(medium) {
      margin-top: rem-calc(64);
    }

    button {
      width: 100%;
      margin-bottom: rem-calc(20);
      
      @include breakpoint(medium) {
        width: auto;
        margin-right: rem-calc(20);
      }

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }

  &-response {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: rem-calc(50);
    background: rgba($white, 0.75);

    p {
      font-weight: 700;
      font-size: rem-calc(24);
      color: darken($green, 10%);
    }

    &.--error p { color: $alert; }
  }
}