$black: #000000;
$white: #FFFFFF;
$gray: #404040;
$gray-light: #474C55;
$gray-lighter: #989898;
$red: #EE4266;
$red-light: #F294A6;
$red-lighter: #F8E7E7;
$green: #A1D2CE;
$green-light: #D0E8E6;
$purple: #803093;

$text-heading: $black;
$text-primary: $gray;
$text-secondary: $gray;
$input-border: $green-light; 
$input-border-active: $green; 
$input-bg: $white; 
$input-color: $gray-light; 
$input-disable-border: $gray-lighter; 
$input-error-border: $red-light; 
$input-error-bg: $red-lighter; 
$alert: $red;