.form-errors {
  color: $alert;
  
  p,
  span {
    color: $alert;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

label {
  font-weight: 600;
  font-size: rem-calc(16);
  text-transform: uppercase;
}

input,
select {
  height: rem-calc(52);
  padding: rem-calc(0 20);
  font-weight: 600;
  font-size: rem-calc(10);
  text-transform: uppercase;
  color: $input-color;
  appearance: none;
  outline: 0;
  border: rem-calc(2) solid $input-border;
  background-color: $white;
  box-shadow: rem-calc(0 5) 10px rgba($black, 0.2);
  transition: all 0.15s linear;

  &::placeholder {
    font-weight: 400;
  }
  
  &:focus,
  &:active {
    border-color: $input-border-active;
    box-shadow: rem-calc(0 8) 10px rgba($black, 0.25);
  }
}

select {
  padding-right: rem-calc(40);
  background: $white url('../assets/icon-arrow-right.svg') no-repeat center right 24px;
  cursor: pointer;
}


input[type=checkbox] {
  position: relative;
  top: rem-calc(-2);
  width: rem-calc(32);
  height: rem-calc(32);
  margin: 0 rem-calc(16) 0 0;
  padding: 0;
  vertical-align: middle;
  transition: none;
  cursor: pointer;

  &:checked {
    border: 0;
    background: $purple url('../assets/icon-check.svg') no-repeat center / 20px auto;
    box-shadow: none;
  }
}