.form-errors {
  margin-top: rem-calc(22);
  margin-bottom: rem-calc(22);
  font-style: italic;
  font-weight: 700;
  color: $alert;
  
  span {
    display: block;
    margin-bottom: rem-calc(6);
    color: $alert;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

label,
label span {
  font-weight: 600;
  font-size: rem-calc(16);
  text-transform: uppercase;
}

input,
select {
  height: rem-calc(52);
  padding: rem-calc(0 20);
  font-weight: 600;
  font-size: rem-calc(16);
  // text-transform: uppercase;
  color: $input-color;
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
  border: rem-calc(3) solid $input-border;
  background-color: $white;
  box-shadow: rem-calc(0 5) 10px rgba($black, 0.2);
  transition: border-color 0.15s linear,
              background-color 0.15s linear,
              box-shadow 0.15s linear;

  &::placeholder {
    font-weight: 400;
    font-size: rem-calc(14);
  }
  
  &:focus,
  &:active {
    border-color: $input-border-active;
    box-shadow: rem-calc(0 8) 10px rgba($black, 0.25);
  }

  &:disabled,
  &.disabled {
    border-color: $input-disable-border;
    pointer-events: none;
  }

  &.error {
    border-color: $input-error-border;
    background-color: $input-error-bg;
  }
}

select {
  min-width: rem-calc(200);
  padding-right: rem-calc(40);
  background: $white url('../assets/icon-arrow-right.svg') no-repeat center right 24px;
  cursor: pointer;
  
  &:invalid,
  option[value=""] {
    font-weight: 400;
    text-transform: uppercase;
  }
}


input[type=checkbox] {
  position: relative;
  top: rem-calc(-2);
  width: rem-calc(32);
  height: rem-calc(32);
  margin: 0 rem-calc(16) 0 0;
  padding: 0;
  vertical-align: middle;
  background-color: $white;
  background-image: url('../assets/icon-check.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px auto;
  transition: none;
  cursor: pointer;
  
  &:checked {
    border: 0;
    background-color: $purple;
    box-shadow: none;
  }
}